/* seleciona todos os elementos do html */
*{
margin: 0;
padding: 0;
}

/* Elementos com o id Título e Subtitulo */
#titulo {
    font-family: sans-serif;
    color: #422f0a;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: #422f0a;
    margin-left: 10%;
}
#check{
    display: inline-block;
}

/* Elementos com a tag <fieldset> no HTML */
fieldset{
    border: 0;
}

body{
    background-color: rgb(214, 187, 206);
    font-family: sans-serif;
    font-size: 1em;
    color: #422f0a;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}


input, select, textearea, button{
    font-family: sans-serif;
    font-size: 1em;
    color:#422f0a;
    border-radius: 5px;
}

/* Elementos da classe Grupo (pseudoclasses: before e after) */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos da classe grupo (pseudoclasse after) */
.grupo:after {
    clear: both;
}

/*  para selecionar a Classe usa-se o ponto (.) no início. */
.campo{
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #422f0a;
    display: block;
}


fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

/* Elementos da classe Campo de tags <input> */
.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select, .campo textarea {
    padding: 0.3em;
    border: 1px solid #e3afee;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #f5e7fd;
}

.botao{
    font-size: 1.2em;
    background: #cf65e4;
    border: 0;
    margin-bottom: 1em;
    color: #1e1977;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px, 1px, 1px, 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #d0c4f0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}
